<!DOCTYPE html>
<html>
  <head>
    <title>Via Elegance</title>
      <%= render "layouts/config" %>
  </head>

  <body>
    <%= render "layouts/javascript" %>
    <header> <%= render "layouts/header"%> </header>
    <main> <%= render "layouts/main" %> </main>
    <footer> <%= render "layouts/footer"%> </footer>
  </body>
</html>
